* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* About us page style */

/* Slideshow container */
.feature {
  height: 90vh;
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.slideshow-container {
  max-width: 1000px;
  width: 100%;
  height: 85vh;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  margin-right: -200px;
  margin-left: -200px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: rgba(0, 0, 0, 0.596);
}

/* Caption text */
.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #ffffff;
  border: 2px solid black;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: rgba(255, 235, 205, 0.808);
  width: 100%;
  height: 16vh;
  padding-left: 20px;
  padding-right: 70px;
}

.nav li {
  display: inline;
  text-align: center;
  padding: 30px;
  font-family: "Akaya Telivigala", cursive;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: "Akaya Telivigala", cursive;
}

.logo img {
  padding: 2opx;
}

.foundation {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  text-align: center;
  background-color: rgba(255, 235, 205, 0.808);
}

.foundation h1 {
  margin-top: -40px;
  font-family: "Akaya Telivigala", cursive;
  font-size: 3.5rem;
  width: 50vw;
}

.foundation p,
h3 {
  font-family: "Akaya Telivigala", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Redressed", cursive;
  line-height: 30px;
  width: 50vw;
}

.slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Akaya Telivigala", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Redressed", cursive;
}

.footer {
  font-family: "Akaya Telivigala", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Redressed", cursive;
  height: 40vh;
  margin-top: 40px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.822);
  color: #ffffffef;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.social {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.social li {
  display: inline;
  text-align: center;
  margin: 30px;
  padding: 10px;
}

/* volunteer page style */

.volunteer {
  width: 100vw;
  position: relative;
  background-color: black;
}

.volunteer img {
  width: 90vw;
  height: auto;
  z-index: -1;
  opacity: 0.9;
  margin: auto;
  display: block;
  padding: 30px;
}

.v-img1 h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 3rem;
  letter-spacing: 5px;
  word-spacing: 25px;
}

.values {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100vw;
  background-color: rgba(255, 235, 205, 0.808);
}

.v-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin-top: -5px;
  background-color: rgba(255, 235, 205, 0.808);
}

.v-img2,
.v-img3 img {
  width: 50vw;
}

.values li{
  display: block;
  width: 25%;
  padding: 10px;
  height: 20vh;
  margin: auto;
  border: 2px solid rgba(222, 184, 135, 0.979);
  background-color: rgba(255, 255, 255, 0.829);
  margin-top: 20px;
border-radius: 15px;
}

.values h1{
  padding-bottom:20px;
}

.v-form .form{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

form input{
  margin: 10px;
  width: 20vw;
  padding: 10px;
  outline: none;
}

.tc{

  display: flex;
  padding: 10px;
  width: 30vw;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.tc input{
  margin: 10px;
  width: auto;
  padding: 10px;
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
  outline: none;
}

.btn{
  padding: 15px;
  width: 25vh;
  background-color: black;
  color: #ffffff;
  margin-top: 10px;
  outline: none;
}

.btn:hover{
  background-color: rgba(0, 0, 0, 0.788);
  box-shadow: 2px 2px 5px black;
  color: rgba(0, 255, 0, 0.61);
}
